
ErrorDocument 404 /~mkimball/final_project/error/status404.html

ExpiresActive On
 
ExpiresByType text/css   A86400    
# CSS expires in 24 hours (1 day)

ExpiresByType application/javascript  A86400    
# javascript expires in 24 hours (1 day)
 
ExpiresByType image/gif   A86400 
# GIF  expires in 24 hours (1 day)
 
ExpiresByType image/jpeg  A86400 
# JPEG expires in 24 hours (1 day)
 
ExpiresByType image/png   A86400  
# PNG  expires in 24 hours (1 day)


AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xhtml+xml 
AddOutputFilterByType DEFLATE application/x-javascript
